<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.temple.manage.mapper.ImproveMapper">

    <resultMap id="BaseResultMap" type="com.temple.manage.entity.Improve">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="remarkImage" column="remark_image" jdbcType="VARCHAR"/>
        <result property="actionRemark" column="action_remark" jdbcType="VARCHAR"/>
        <result property="actionRemarkImage" column="action_remark_image" jdbcType="VARCHAR"/>
        <result property="proceedRemark" column="proceed_remark" jdbcType="VARCHAR"/>
        <result property="finish" column="finish" jdbcType="BOOLEAN"/>
        <result property="improveTypeId" column="improve_type_id" jdbcType="INTEGER"/>
        <result property="departmentType" column="department_type" jdbcType="INTEGER"/>
        <result property="improveName" column="improve_name" jdbcType="VARCHAR"/>
        <result property="process" column="process" jdbcType="INTEGER" typeHandler="com.temple.manage.common.handler.ImproveProcessTypeHandler"/>
        <result property="nextUserId" column="next_user_id" jdbcType="VARCHAR"/>
        <result property="nextUserName" column="next_user_name" jdbcType="VARCHAR"/>
        <result property="rejected" column="rejected" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="followDate" column="follow_date" jdbcType="DATE"/>
        <result property="followUserIds" column="follow_user_ids" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_name,
        department,status,title,
        remark,action_remark,proceed_remark,remark_image,action_remark_image,
        finish,improve_type_id,department_type,
        improve_name,process,next_user_id,
        next_user_name,rejected,version,follow_date,follow_user_ids,
        create_time,modify_time
    </sql>
    <select id="approved" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from s_improve
        where JSON_CONTAINS(process, JSON_OBJECT('userId', #{userId},'operation', 'APPROVED'))
        or JSON_CONTAINS(process, JSON_OBJECT('userId', #{userId},'operation', 'REJECTED'))
    </select>
    <select id="follow" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from s_improve
        where JSON_CONTAINS(process, JSON_OBJECT('followUserIds', #{userId}))
    </select>
</mapper>
